
html {
  background-color: #3b8de0;
  color: #333; 
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif; 
}

body {
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  padding: 1.8rem;
  background-color: rgba(51, 51, 51, 0.8); /* Darker header for contrast */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header-container {
  max-width: 1200px; /* Maximum width for the header */
  margin: 0 auto; /* Centering the header */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  color: aliceblue;
  font-weight: bold;
  font-size: 2.5rem; /* Updated size */
  text-transform: uppercase; 
  letter-spacing: 1px;
  margin-left: 20px; /* Space between logo and title */
}

/* Logo styles */
.header-container .logo {
  height: 64px;
  width: auto; 
}

/* Hero Section Styles */
.hero {
  background-color: #8ab5db; 
}
.hero-body {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.image {
  margin: 0 auto; 
}


.button.is-primary {
  background-color: #8ab5db; 
  border-color: #8ab5db; 
  color: white; 
}

.button.is-primary:hover {
  background-color: #333; 
}

.button.is-link {
  background-color: #8ab5db; 
  border-color: #8ab5db;
  color: white; 
}

.button.is-link:hover {
  background-color: #333;
}
.logo {
  max-width: 100%; 
  height: auto; 
}

.button {
  margin: 10px; 
}
.home-container {
  text-align: center;
  margin-top: 50px; 
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0 0 20px rgba(138, 181, 219, 0.7); 
  background-color: rgba(255, 255, 255, 0.9); 
}



/* Footer styles */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-content p {
  padding: .2rem;
}
