body{

    display:flex;
    flex-direction: column;

}

.navbar{

    height:100px;
    background-color: rgb(185, 185, 241);

}

.profileUI{

    display:flex;
    flex-direction: row;

}

#profile_list{

    border:solid;
    height:500px;
    width:400px;

}

#prompt{

    margin-right:auto;
    margin-left:auto;

}

#profileDisplay{

    width:1500px;
    display:flex;
    justify-content: center;

}

#profileCard{

    background-color: rgb(204, 201, 201);
    width:600px;
    height:400px;
    margin:20px;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    

}

#top{

    display: flex;
    flex-direction: row;

}

.text{

    width:500px;
    margin-left:auto;
    margin-right:auto;

}

#add{

    height:30px;
    margin-top:auto;
    margin-bottom: auto;
    font-size: large;

}